/* .md-nav__item--section > .md-nav__link[for] {
    color: var(--md-default-fg-color)!important;
    font-size: 1.2em!important;
} */

/* janky and can break with any update */

.md-content,
.md-content__inner {
    /* fade in animation */
    animation: fadeIn 0.35s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
