/* .md-nav__item--section > .md-nav__link[for] {
    color: var(--md-default-fg-color)!important;
    font-size: 1.2em!important;
} */

/* janky and can break with any update */

.md-content,
.md-content__inner {
    /* fade in animation */
    animation: fadeIn 0.35s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* TODO remove when titles without emoji */
.md-ellipsis > svg {
    width: 11px;
}

@keyframes details-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

details[open] > *:not(summary) {
    animation: details-show 150ms ease-in-out;
}

/* body,
.md-header,
.md-tabs {
    background change animation fade  - CAUSES BLINK ON LOAD
    transition: background 0.35s;
} */

.md-header__topic > .md-ellipsis > svg {
    display: none;
}

/* FROM GADGET */
[data-md-color-scheme="gb-light"] img.gb-logo {
    filter: hue-rotate(180deg) invert(1);
}

img {
    border-radius: 15px;
}

/*
    Extend overall content area.
*/
.md-grid {
    max-width: 1440px;
}

/*
    Extends blog post to the edge of the screen.
*/
.md-content.md-content--post article {
    flex-grow: 1;
}

/*
    Align emojis & icons with the text.
*/
.md-typeset .emojione,
.md-typeset .gemoji,
.md-typeset .twemoji {
    vertical-align: text-bottom;
}

.md-header__button.md-logo img {
    border-radius: 0px;
    /* make the logo fully white */
    filter: grayscale(100%) brightness(300%);
}

/*
    Add margin to end of the content.
*/
.md-content__inner.md-typeset {
    margin-bottom: 5rem;
}

/*
    Change checked tasklist color to the primary color.
*/
.md-typeset [type="checkbox"]:checked + .task-list-indicator::before {
    background-color: var(--md-accent-fg-color);
}

/*
    Add more margin before each task list item text.
*/
.task-list-control > .task-list-indicator {
    margin-left: 5px;
}

/*
    Don't use a tick icon for unchecked task list items.
*/
.md-typeset [type="checkbox"]:not(:checked) + .task-list-indicator::before {
    -webkit-mask-image: none;
    mask-image: none;
    border-radius: 50px;
}

/*  
    ------------------
    TABLES
    ------------------
*/

.md-typeset table {
    font-size: 0.7rem !important;
    border-radius: 15px !important;
    /*
    background-color: var(--md-admonition-bg-color) !important;
    border: none !important;
    */
    box-shadow: var(--md-shadow-z2);
}

/*  
    ------------------
    CODE BLOCKS
    ------------------
*/

.md-typeset table.highlighttable tr td.linenos {
    border-radius: 15px 0px 0px 15px;
    font-size: 0.65rem !important;
}

.md-typeset table.highlighttable tr td.code div > pre > code {
    border-radius: 0px 15px 15px 0px;
}

.md-typeset div > pre > code {
    border-radius: 15px;
    font-size: 0.65rem !important;
}

.md-typeset table.highlighttable tr td.linenos > .linenodiv pre {
    color: var(--md-default-bg-color--lighter) !important;
}

.md-tooltip {
    background-color: var(--md-admonition-bg-color);
    border-radius: 15px;
}

.md-annotation__index::after,
.md-annotation__index::before {
    height: 2.4ch;
    width: 2.4ch;
}

.md-tooltip__inner {
    font-size: 0.7rem !important;
}

blockquote {
    color: var(--md-default-fg-color--lighter) !important;
    border-left-color: var(--md-default-fg-color--lightest) !important;
}

/*  
    ------------------
    ADMONITON
    ------------------
*/

.md-typeset .admonition,
.md-typeset details {
    border-width: 1 !important;
    border-radius: 15px !important;
    padding: 0 1rem !important;
    font-size: 0.75rem !important;
}

.md-typeset .admonition .admonition-title,
.md-typeset details summary {
    padding-bottom: 0.6rem !important;
    padding-top: 0.6rem !important;
    border-radius: 15px 15px 0px 0px !important;
    margin: 0 -1rem !important;
    padding-left: 2.7rem !important;
    transition: border-radius 0.2s;
}

.md-typeset .admonition .admonition-title::before,
.md-typeset details summary::before {
    left: 0.9rem !important;
}

.md-typeset details summary::after {
    right: 0.9rem !important;
}

.md-typeset .admonition .admonition-title::before,
.md-typeset details summary::before,
.md-typeset details summary::after {
    top: 0.85em !important;
    height: 25px !important;
    width: 23px !important;
}

.md-typeset details:not([open]) summary {
    border-radius: 15px 15px 15px 15px !important;
}

.md-typeset .admonition p:nth-of-type(2),
.md-typeset details p:first-of-type {
    margin-top: 0.4rem !important;
}

.md-status--todo {
    --md-status: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48h8V67c0 40.3 16 79 44.5 107.5L158.1 256 76.5 337.5C48 366 32 404.7 32 445v19H24c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24h-8V445c0-40.3-16-79-44.5-107.5L225.9 256l81.5-81.5C336 146 352 107.3 352 67V48h8c13.3 0 24-10.7 24-24s-10.7-24-24-24H24zM192 289.9l81.5 81.5C293 391 304 417.4 304 445v19H80V445c0-27.6 11-54 30.5-73.5L192 289.9zm0-67.9l-81.5-81.5C91 121 80 94.6 80 67V48H304V67c0 27.6-11 54-30.5 73.5L192 222.1z"/></svg>');
}

.md-status--todo2 {
    --md-status: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/></svg>');
}

.md-status--vid {
    --md-status: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>youtube</title><path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z" /></svg>');
}

.md-status--name {
    --md-status: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>');
}

.iframe_16_9 {
    aspect-ratio: 16 / 9;
    width: 100%; /* change this to a fixed width, or create a container with a width. */
    height: 100%;
}

/* start custom admotion */
:root {
    --md-admonition-icon--youtube_vid: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>youtube</title><path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z" /></svg>');
}
.md-typeset .admonition.youtube_vid,
.md-typeset details.youtube_vid {
    border-color: rgb(255, 0, 0);
}
.md-typeset .youtube_vid > .admonition-title,
.md-typeset .youtube_vid > summary {
    background-color: rgba(255, 0, 0, 0.1);
}
.md-typeset .youtube_vid > .admonition-title::before,
.md-typeset .youtube_vid > summary::before {
    background-color: rgb(255, 0, 0);
    -webkit-mask-image: var(--md-admonition-icon--youtube_vid);
    mask-image: var(--md-admonition-icon--youtube_vid);
}

:root {
    --md-admonition-icon--local_vid: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM48 368v32c0 8.8 7.2 16 16 16H96c8.8 0 16-7.2 16-16V368c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16zm368-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V368c0-8.8-7.2-16-16-16H416zM48 240v32c0 8.8 7.2 16 16 16H96c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16zm368-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H416zM48 112v32c0 8.8 7.2 16 16 16H96c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16zM416 96c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H416zM160 128v64c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32zm32 160c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V320c0-17.7-14.3-32-32-32H192z"/></svg>');
}
.md-typeset .admonition.local_vid,
.md-typeset details.local_vid {
    border-color: rgb(153, 0, 255);
}
.md-typeset .local_vid > .admonition-title,
.md-typeset .local_vid > summary {
    background-color: rgba(153, 0, 255, 0.1);
}
.md-typeset .local_vid > .admonition-title::before,
.md-typeset .local_vid > summary::before {
    background-color: rgb(153, 0, 255);
    -webkit-mask-image: var(--md-admonition-icon--local_vid);
    mask-image: var(--md-admonition-icon--local_vid);
}


.local_video {
    max-height: 50vh;
}


/* for grids */

.md-typeset .grid {
    grid-template-columns: repeat(auto-fit,minmax(min(100%,10rem),1fr));
}

.md-typeset .grid.cards > ol > li, .md-typeset .grid.cards > ul > li, .md-typeset .grid > .card {
    border: unset;
}

.grid.cards > ul > li > p:nth-child(1) > strong:nth-child(1) > a:nth-child(1) {
    color: var(--md-default-fg-color);
}

:root {
    --md-admonition-icon--dance-toc: url('data:image/svg+xml;charset=utf-8,')
}
.md-typeset .admonition.dance-toc,
.md-typeset details.dance-toc {
    border-color: var(--md-default-fg-color--lightest);
}
.md-typeset .dance-toc > .admonition-title,
.md-typeset .dance-toc > summary {
    background-color: var(--md-default-fg-color--lightest);
}
.md-typeset .dance-toc > .admonition-title::before,
.md-typeset .dance-toc > summary::before {
    background-color: var(--md-default-fg-color--lightest);
    -webkit-mask-image: var(--md-admonition-icon--dance-toc);
            mask-image: var(--md-admonition-icon--dance-toc);
}

.md-typeset .admonition:focus-within, .md-typeset details:focus-within {
box-shadow: unset;
}

/* grids end */