mkdocs-material 
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-awesome-pages-plugin
mkdocs-minify-plugin
pillow
cairosvg
mkdocs-git-committers-plugin-2
git+https://github.com/Dschogo/mkdocs-print-site-plugin
mkdocs-macros-plugin